<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684089665977-79rih13fvnt78pl2oaitjj3n5ui3m7hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684089665977-79rih13fvnt78pl2oaitjj3n5ui3m7hu</string>
	<key>API_KEY</key>
	<string>AIzaSyC0UTm14ZeAXS4E5sjg2jxJjEppJhtXlRE</string>
	<key>GCM_SENDER_ID</key>
	<string>684089665977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetProgrammationMobile</string>
	<key>PROJECT_ID</key>
	<string>projet-flutter-7f5ad</string>
	<key>STORAGE_BUCKET</key>
	<string>projet-flutter-7f5ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684089665977:ios:4e8d44e80b35e1a3f8ae68</string>
</dict>
</plist>